<% @photobooth_images = ["http://imgur.com/NxKi5JE", "http://imgur.com/7TuGD4Q", "http://imgur.com/2vgbAYl", "http://imgur.com/9SnpNMH", "http://imgur.com/Gsk4L8H", "http://imgur.com/Rt9fG5S", "http://imgur.com/RhT21JE", "http://imgur.com/1gXGCTc", "http://imgur.com/vPacMW1", "http://imgur.com/8BXipkh", "http://imgur.com/05xJ3f8", "http://imgur.com/3oecrta", "http://imgur.com/awXOo6z", "http://imgur.com/YfrhBlP", "http://imgur.com/pPFzPrM", "http://imgur.com/bAP6GN6"] %>
<!-- carosel -->	





<div class="carousel-container">
<div id="carousel-1" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
	<div class="item active">
		<img src="http://imgur.com/9SnpNMH.jpg" alt="...">
		<div class="carousel-caption">
		...
		</div>
	</div>
	<% @photobooth_images.each do |image| %>
	<div class="item">
		<img src="<%= image %>.jpg" alt="...">
		<div class="carousel-caption">
		...
		</div>
	</div>
	<% end %>
	</div>

	<!-- Controls -->
	<a class="carousel-control"  href="#carousel-1" data-slide="prev">
	<span class="icon-prev"></span>
	</a>
	<a class="carousel-control" id="carasoul-control-right" href="#carousel-1" data-slide="next">
	<span class="icon-next"></span>
	</a>
</div>
</div>


<!-- end carosel -->