<div class="tab-pane active" id="home">
	<div class="panel-heading">
		<h3 class="panel-title">UBERSCHANP PHOTOBOOTH</h3>
	</div>
	<div class="panel-body">			
		Uberschnap are the flexible Photobooth Company.  We offer retro photobooths, we have smaller pods which can fit into small spaces, and we can custom build you a booth to almost fit into any type of housing.; Some of the more adventurous Photobooths to date have been a Confessions Booth, a Beach Shack and a Black Cab<br><br>To help people relax we can offer a curtain on the booth door,  a dress-up box, and props.<br><br>At our events 2 Uberschnappers help guide use of the booth during your event using a state of the art touch screen on the outside of the booth. <br><br>At your event guest can have unlimited prints of their 4 passport photos instantly. And of course we save copies for you.
	</div>
</div>
<div class="tab-pane" id="unlimited">
	<div class="panel-heading">
		<h3 class="panel-title">UNLIMITED INSTANT PHOTOS</h3>
	</div>
	<div class="panel-body">			
Hidden in our booths we use a professional camera and hidden studio lighting to take the best images possible of your guests. 
Our special printers mean prints take around 10 seconds to minimise any waiting around and more time to enjoy the party and take more photos. 
After taking the photos they pop up on the touch screen outside the booth for guests to see before they go to print. If they don’t like the photos they are free to jump straight back in and Uberschnap again
	</div>
</div>
<div class="tab-pane" id="touch">
	<div class="panel-heading">
		<h3 class="panel-title">TOUCHSCREEN</h3>
	</div>
	<div class="panel-body">			
We offer a touchscreen display free of charge with all of our photobooths. This means every time somebody goes in the booth their photos pop up on the screen outside before they go to print. We’ve found the screen adds a modern dynamic to the photobooth allowing other guests to get excited by the 
Uberschnap experience, how many prints they want of a photo and if they want to take more!
	</div>
</div>
<div class="tab-pane" id="social">
	<div class="panel-heading">
		<h3 class="panel-title">SOCIAL UPLOAD</h3>
	</div>
	<div class="panel-body">			
		Uberschnap offer social uploads via email, facebook and twitter provided you have an internet connection using our touchscreen.  On top of that the event organisers get all the digital 
		copies once the event is finished.  After the event we can add all the photos to our web gallery so your guests can download copies quickly and easily and can use them on their own social 
		profiles like facebook, twitter and instagram. This works wanders with your personally branded photos
		FACEBOOK/ TWITTER / IMSTAGRAM icons
	</div>
</div>
<div class="tab-pane" id="personalise-back">
	<div class="panel-heading">
		<h3 class="panel-title">PERSONALISE EVERYTHING</h3>
	</div>
	<div class="panel-body">			
				
		As a standard we offer the opportunity to personalise the your final print in a number of ways;
		<br><br>
		<ul>
		<li>Add a caption below photo e.g ‘Andrew and Sarahs Wedding’</li>
		<li>Put branding below photo or overlaid on photo</li>
		<li>Create a custom colour / textural / image background for the area without photos on print</li>
		<li>Brand the background inside the booth (great for corporate events)</li>
		<li>Choose classic Berlin photoautomat black and white photos for your event</li>
		<ul>

	</div>
</div>
<div class="tab-pane" id="custom-booth">
	<div class="panel-heading">
		<h3 class="panel-title">CUSTOMISE PHOTOBOOTH</h3>
	</div>
	<div class="panel-body">			
		Uberschnap have many ways of customising your booth on request;
		<br><br>
		We can fit personalised panels to our standard retro booth e.g. Coloured / Branded
		We can build booths into custom housings e.g. Confessions Booth / Beach Shack / Black Cabs
		Brand the background inside the booth 
	</div>
</div>
