<div class="col-md-2 test">
	<div class="sidebar-nav static">
	<div class="well" style="width:100%; padding:15px;">
		<ul class="nav nav-list side-nav"> 
		  <li class="nav-header"><h4 id="side-bar-title">Corporate Event</h4></li>        
		  <li><a href="index">Uber brand pack</a></li>

		</ul>
	</div>
	</div>
</div>

<div class="col-md-6 test">
	<div class="panel panel-default" id="info-panel">
		<div class="panel-heading">
			<h3 class="panel-title">About</h3>
		</div>
		<div class="panel-body">
			
Uberschnap was established in 2012 at Secret Garden Party Festival. Since then we have continued to hire out and build high end photobooths using the most advanced technology and 
software available, to become one of the leaders in the private photobooth industry. Our high resolution photos print within 10 seconds allowing guests to make the most of their event and enjoy the photo booth time antd time again.
<br><br>We like to cater to exactly what each of our client wants as individuals and by doing this we have long standing relationships with party organisers, wedding and event planners. No job is too big or small for us as we proved in 2013 when we built a beach shack photobooth especially for Unknown festival in Croatia.



		</div>
	</div>  
</div>
<%= render "passport_carousel" %>