<div class="col-md-2 test">
	<div class="sidebar-nav static">
	<div class="well" style="width:100%; padding:15px;">
		<ul class="nav nav-list side-nav"> 
		  <li class="nav-header"><h4 id="side-bar-title">Corporate Event</h4></li>        
		  <li><a href="index">Uber brand pack</a></li>

		</ul>
	</div>
	</div>
</div>

<div class="col-md-6 test">
	<div class="panel panel-default" id="info-panel">
		<div class="panel-heading">
			<h3 class="panel-title">Corporate Event</h3>
		</div>
		<div class="panel-body">
			
Photo booths are the perfect way to get people to remember your corporate event. Companies, organisations, new businesses all use our booths to help push their brand whilst giving their guests and interactive and fun aspect to their events. We can brand the photobooth panels, the prints themselves and even custom build you a booth which suits your event. We also offer social media connectivity and a usb at the end of the event with all the photos for you to use at your disposal via the many 
Differnet ways of sharing them on the internet. We manage every aspect of the booth before, during and after the event and will work with you to make sure you have exactly what you need for your guests.



		</div>
	</div>  
</div>
<%= render "passport_carousel" %>