<div class="col-md-2 test">
	<div class="sidebar-nav static">
	<div class="well" style="width:100%; padding:15px;">
		<ul class="nav nav-list side-nav"> 
		  <li class="nav-header"><h5 id="side-bar-title"><a href="#corporate-event" data-toggle="tab">Corporate Event</a></h5></li>        
		  <li><a href="#corporate-pack" data-toggle="tab">Uber brand pack</a></li>

		</ul>
	</div>
	</div>
</div>
<div class="col-md-6 test">

	<div class="panel panel-default" id="info-panel">
		<div class="tab-content">
			<div class="tab-pane active" id="corporate-event">
				<div class="panel-heading">
					<h3 class="panel-title">Corporate Event</h3>
				</div>
				<div class="panel-body">			
					Photo booths are the perfect way to get people to remember your corporate event. Companies, organisations, new businesses all use our booths to help push their brand whilst giving their guests and interactive and fun aspect to their events. We can brand the photobooth panels, the prints themselves and even custom build you a booth which suits your event. We also offer social media connectivity and a usb at the end of the event with all the photos for you to use at your disposal via the many 
					Differnet ways of sharing them on the internet. We manage every aspect of the booth before, during and after the event and will work with you to make sure you have exactly what you need for your guests.
				</div>
			</div>
			<div class="tab-pane" id="corporate-pack">
				<div class="panel-heading">
					<h3 class="panel-title">UBERSCHNAP BRAND PACK</h3>
				</div>
				<div class="panel-body">			
                	<br>From £590 within our office catchment area<br><br>
                	<ul> 	
						<li>Unlimited Prints 
						<li>6 Hours
						<li>Branded / Personalised Backgrounds for print (images/captions/logos) 
						<li>Web gallery on our website
						<li>High-Resolution copies of all photos after event on USB
						<li>Social Booth Connectivity
						<li>Dress-Up box
						<li>Touch Screen interactivity
						<li>Friendly Uberschnap Staff
						<li>Same day drop off and pick up
					</ul>
					
					<br><br>EXTRAS ON REQUEST<br><br>
					<ul>
						<li>Branded / Personalised Booth Panels (images/captions/logos)</li>
						<li>Custom built booth</li>
						<li>Longer Hours</li>
						<li>Co-designed personalised backgrounds</li>
						<li>Stream projected photos on venue walls</li>
					</ul>					
				</div>
			</div>
		</div>		
	</div>   
<%= render "photobooth_carousel" %>
</div>



<%= render "passport_carousel" %>