<div class="col-md-2 test">
	<div id="signin-button"><%= link_to("Get my Photos", signin_path)%></div>
</div>
<div class="col-md-6 test">
	<div class="panel panel-default" id="info-panel">
		<div class="panel-heading">
			<h3 class="panel-title">Having a Wedding , Private Event or Christmas Party?</h3>
		</div>
		<div class="panel-body">
			<h5>Make sure you get an Uberschnap Photobooth!!!</h5><br>Unlimited Pesonalised Prints <br><br>2 x Uberchnap Staff<br><br>Personalised Background (images/captions/logos)<br><br>Web gallery on our website<br><br>High-Resolution copies of all photos<br><br>Social Booth Connectivity<br><br>Dress-Up box<br><br>Personalised Booth Panels (images/captions/logos)

		</div>
	</div>   
<%= render "photobooth_carousel" %>
</div>


<!-- carosel -->	
<%= render "passport_carousel" %>

<!-- end carosel -->




</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>