


<div class="col-md-2 test">
	<div class="sidebar-nav static">
	<div class="well" style="width:100%; padding:15px;">
		<ul class="nav nav-list"> 
		  <li class="nav-header"><h4 id="side-bar-title">Photo Booths</h4></li>        
		  <li><a href="index"><i class="icon-home"></i> Dashboard</a></li>
		  <li><a href="#"><i class="icon-envelope"></i> Messages </a></li>
		  <li><a href="#"><i class="icon-comment"></i> Comments</a></li>
		  <li class="active"><a href="#"><i class="icon-user"></i> Members</a></li>
		  <li class="divider"></li>
		  <li><a href="#"><i class="icon-comment"></i> Settings</a></li>
		  <li><a href="#"><i class="icon-share"></i> Logout</a></li>
		</ul>
	</div>
	</div>
</div>

<div class="col-md-6 test">
	<div class="panel panel-default" id="info-panel">
		<div class="panel-heading">
			<h3 class="panel-title">UBERSCHANP PHOTOBOOTH</h3>
		</div>
		<div class="panel-body">
			Uberschnap are the flexible Photobooth Company.  We offer retro photobooths, we have smaller pods which can fit into small spaces, and we can custom build you a booth to almost fit into any type of housing.; Some of the more adventurous Photobooths to date have been a Confessions Booth, a Beach Shack and a Black Cab<br><br>To help people relax we can offer a curtain on the booth door,  a dress-up box, and props.<br><br>At our events 2 Uberschnappers help guide use of the booth during your event using a state of the art touch screen on the outside of the booth. <br><br>At your event guest can have unlimited prints of their 4 passport photos instantly. And of course we save copies for you.
		</div>
	</div>   
	<!-- carosel -->	

	<div class="carousel-container">
	<div id="carousel-1" class="carousel slide">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
		<div class="item active">
		  <img src="https://s3.amazonaws.com/uberschnapbucket1/395933_10150979667676003_1630448132_n.jpg" alt="...">
		  <div class="carousel-caption">
			...
		  </div>
		</div>
		<div class="item">
		  <img src="https://s3.amazonaws.com/uberschnapbucket1/432164_10151957021895517_408947264_n.jpg" alt="...">
		  <div class="carousel-caption">
			...
		  </div>
		</div>
		<div class="item">
		  <img src="https://s3.amazonaws.com/uberschnapbucket1/526523_10152684899201002_479001448_n.jpg" alt="...">
		  <div class="carousel-caption">
			...
		  </div>
		</div>
		<div class="item">
		  <img src="https://s3.amazonaws.com/uberschnapbucket1/557367_10100676502018309_686022454_n.jpg" alt="...">
		  <div class="carousel-caption">
			Do you want to add captions?
		  </div>
		</div>
	  </div>

	  <!-- Controls -->
	  <a class="carousel-control"  href="#carousel-1" data-slide="prev">
		<span class="icon-prev"></span>
	  </a>
	  <a class="carousel-control" id="carasoul-control-right" href="#carousel-1" data-slide="next">
		<span class="icon-next"></span>
	  </a>
	</div>
	</div>


	<!-- end carosel -->
</div>


<!-- carosel -->	
<div class="col-sm-4">
<div class="carousel-container">
<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://s3.amazonaws.com/uberschnapbucket1/2013_09_03_154851.jpg" alt="...">
      <div class="carousel-caption">
        hfdjkhsfbjhadsbfodhbv
      </div>
    </div>
    <div class="item">
      <img src="https://s3.amazonaws.com/uberschnapbucket1/2013_09_10_180616.jpg" alt="...">
      <div class="carousel-caption">
        dhfbcashdfbjksabfakjsb
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="carousel-control"  href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="carousel-control" id="carasoul-control-right" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
</div>
<div id="twitter-container">
<a class="twitter-timeline" data-theme="dark" data-chrome="" href="https://twitter.com/benjamintillett" data-widget-id="399508093085564928">Tweets by @benjamintillett</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

</div>

<!-- end carosel -->




</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>