<div class="col-md-2 test">
	<div class="sidebar-nav static">
	<div class="well" style="width:100%; padding:15px;">
		<ul class="nav nav-list"> 
		  <li class="nav-header"><h4 id="side-bar-title">Private Party</h4></li>        
		  <li><a href="index"><i class="icon-home"></i>Uber Pack</a></li>

		</ul>
	</div>
	</div>
</div>

<div class="col-md-6 test">
	<div class="panel panel-default" id="info-panel">
		<div class="panel-heading">
			<h3 class="panel-title">PRIVATE PARTY</h3>
		</div>
		<div class="panel-body">
			
Uberschnap brings a lasting memory to your event.  There is something so much more beautiful about having a physical copy of that memory instantly in your hand to go home with. 
A tangible memento with your nearest and dearest that can be tucked away in your wallet, on your bedroom wall or in a 
memory draw.
We offer unlimited prints which means you can have photos with as many people as you and your guests want throughout the event meaning on average everybody takes more than one photo home.
Our photos are taken with high resolution cameras and lighting meaning these are flattering photos you will want to keep for ever.
Our friendly staff will be on site by the booth to guide your guests through the Uberschnap photo booth experience at all times.
After the event we supply you with digital copies. We can also upload them to our web gallery so that your guests can access copies as quickly as possible.
Make sure your event is Uber!

		</div>
	</div>  
</div>
<%= render "passport_carousel" %>


