<div class="col-md-2 test">
	<div class="sidebar-nav static">
	<div class="well" style="width:100%; padding:15px;">
		<ul class="nav nav-list"> 
		  <li class="nav-header"><h5 id="side-bar-title"><a href="#private-party" data-toggle="tab">Private Party</a></h5></li>        
		  <li><a href="index"><a href="#uber-pack" data-toggle="tab">Uber Pack</a></li>

		</ul>
	</div>
	</div>
</div>

<div class="col-md-6 test">

	<div class="panel panel-default" id="info-panel">
		<div class="tab-content">
			<div class="tab-pane active" id="private-party">
				<div class="panel-heading">
					<h3 class="panel-title">PRIVATE PARTY</h3>
				</div>
				<div class="panel-body">			
					Uberschnap brings a lasting memory to your event.  There is something so much more beautiful about having a physical copy of that memory instantly in your hand to go home with. 
					A tangible memento with your nearest and dearest that can be tucked away in your wallet, on your bedroom wall or in a 
					memory draw.
					We offer unlimited prints which means you can have photos with as many people as you and your guests want throughout the event meaning on average everybody takes more than one photo home.
					Our photos are taken with high resolution cameras and lighting meaning these are flattering photos you will want to keep for ever.
					Our friendly staff will be on site by the booth to guide your guests through the Uberschnap photo booth experience at all times.
					After the event we supply you with digital copies. We can also upload them to our web gallery so that your guests can access copies as quickly as possible.
					Make sure your event is Uber!
				</div>
			</div>
			<div class="tab-pane" id="uber-pack">
				<div class="panel-heading">
					<h3 class="panel-title">UBERSCHNAP PARTY PACK</h3>
				</div>
				<div class="panel-body">			
					<br>From £590 within our office catchment area<br><br>
					
					<ul>	
						<li>Unlimited Prints</li> 
						<li>6 Hours</li>
						<li>Personalised Background for print (images/captions/logos) if you supply files</li>
						<li>Web gallery on our website</li>
						<li>High-Resolution copies of all photos after event on USB</li>
						<li>Social Booth Connectivity</li>
						<li>Dress-Up box</li>
						<li>Touch Screen interactivity</li>
						<li>Friendly Uberschnap Staff</li>
						<li>Same day drop off and pick up</li>
					</ul>
					
					EXTRAS ON REQUEST<br><br>

					<ul>
						<li>Personalised Booth Panels (images/captions/logos)</li>
						<li>Custom built booth</li>
						<li>Longer Hours</li>
						<li>Co-designed personalised backgrounds</li>
						<li>Stream projected photos on venue walls</li>				
						</ul>
				</div>
			</div>
		</div>		
	</div>   
<%= render "photobooth_carousel" %>
</div>
<%= render "passport_carousel" %>

