<div class="col-md-2 test">
	<div class="sidebar-nav static">
	<div class="well" style="width:100%; padding:15px;">
		<ul class="nav nav-list side-nav"> 
		  <li class="nav-header"><h4 id="side-bar-title">Wedding</h4></li>        
		  <li><a href="index">Uber Wedding pack</a></li>

		</ul>
	</div>
	</div>
</div>

<div class="col-md-6 test">
	<div class="panel panel-default" id="info-panel">
		<div class="panel-heading">
			<h3 class="panel-title">Weddings</h3>
		</div>
		<div class="panel-body">
			
Weddings are events that have to be remembered. In this day and age people want to go home with a memory in hand of their nearest and dearest’s big day. Our photobooths are can be decorated especially to your wedding. We go through with you step by step just how exactly you want your booth to look and what you want printed below your photos. We cater standard booths but can pimp your booth with wedding bells, horse shoes and a beautiful garlands depending on the theme of 
wedding. We are fully flexible to your every requirement. We do international wedding too


		</div>
	</div>  
</div>
<%= render "passport_carousel" %>